CREATE PROCEDURE dyn_update3(
    P_KONY_ID_CONFIG_DB VARCHAR(90),
    P_KONY_MF_ACCOUNTS_DB VARCHAR(90),
    P_KONY_MF_CONSOLE_DB VARCHAR(90),
    P_KONY_ADMIN_DB VARCHAR(90),
    P_KONY_KPNS_DB VARCHAR(90),
    P_KONY_MF_REPORTS_DB VARCHAR(90),
    P_OLD_HOST VARCHAR(90),
    P_NEW_HOST VARCHAR(90),
    P_OLD_PORT VARCHAR(6),
    P_NEW_PORT VARCHAR(6)
)
BEGIN
  DECLARE var_done INT DEFAULT FALSE;
  DECLARE v_table_schema VARCHAR(90);
  DECLARE v_TABLE_NAME VARCHAR(30);
  DECLARE v_COLUMN_NAME VARCHAR(30);
  DECLARE cur1 CURSOR FOR 
    SELECT table_schema, TABLE_NAME, COLUMN_NAME 
    FROM information_schema.COLUMNS 
    WHERE table_schema COLLATE utf8_unicode_ci IN (
        P_KONY_ID_CONFIG_DB, P_KONY_MF_ACCOUNTS_DB, P_KONY_MF_CONSOLE_DB, 
        P_KONY_ADMIN_DB, P_KONY_KPNS_DB, P_KONY_MF_REPORTS_DB
    ) 
    AND UPPER(TABLE_NAME) COLLATE utf8_unicode_ci IN (
        'SERVER_CONFIGURATION','SERVER_ENVIRONMENT','APP_SERVICES',
        'AUTH_PROVIDER','OAUTH_TOKENS','NS_METADATA','CLUSTERINFO',
        'KONY_ACC_ENV_DETAILS','KONY_ACC_ENV_DETAILS_HST','ACCOUNTS',
        'ACCOUNTS_CONFIGURATIONS','FEATURES','TENANT_METADATA'
    ) 
    AND (
        UPPER(COLUMN_NAME) COLLATE utf8_unicode_ci LIKE '%URL' OR 
        UPPER(COLUMN_NAME) COLLATE utf8_unicode_ci IN ('PROP_VALUE','ENV_PARAMS','HOSTIP','VALUE')
    );
  DECLARE CONTINUE HANDLER FOR NOT FOUND SET var_done = TRUE;

  OPEN cur1;
  loop_cur1: LOOP
    FETCH cur1 INTO v_table_schema, v_TABLE_NAME, v_COLUMN_NAME;
    IF var_done THEN
      LEAVE loop_cur1;
    END IF;

    SELECT CONCAT('Updating: ', v_table_schema, '.', v_TABLE_NAME, '.', v_COLUMN_NAME, ' from host ', P_OLD_HOST, ' to ', P_NEW_HOST) AS msg;
    SET @sqlText = CONCAT('UPDATE ', v_table_schema, '.', v_TABLE_NAME, ' SET ', v_COLUMN_NAME, '=REPLACE(', v_COLUMN_NAME, ',''', P_OLD_HOST, ''',''', P_NEW_HOST, ''')');
    PREPARE stmt FROM @sqlText;
    EXECUTE stmt;
    DEALLOCATE PREPARE stmt;

    SELECT CONCAT('Updating: ', v_table_schema, '.', v_TABLE_NAME, '.', v_COLUMN_NAME, ' from port ', P_OLD_PORT, ' to ', P_NEW_PORT) AS msg;
    SET @sqlText = CONCAT('UPDATE ', v_table_schema, '.', v_TABLE_NAME, ' SET ', v_COLUMN_NAME, '=REPLACE(', v_COLUMN_NAME, ',''', P_OLD_PORT, ''',''', P_NEW_PORT, ''')');
    PREPARE stmt FROM @sqlText;
    EXECUTE stmt;
    DEALLOCATE PREPARE stmt;
  END LOOP loop_cur1;
  CLOSE cur1;
  COMMIT;
END;
