{ 
    "title": "Create configuration document required for Domino as ODIC provider for Nomad using IDVault", 
    "versionjson": "1.0.0", 
    "steps": [ 
        { 
            "title": "--- Import Documents ---", 
            "databases": [ 
                { 
                    "action": "update", 
                    "filePath": "certstore.nsf", 
                    "documents":[
                        { 
                            "action": "update", 
                            "search": {
                                        "formula":"Form=\"Certifier\" & KeyIdentifier=\"{{ subject_key_id }}\"",
                                        "number":0
                            },
                            "computeWithForm": true,
                            "items": {
                                "Category" : ["ICAP", "INETServer", "OIDC"],
                                "Status" : "I",
                                "RestictUseToCategory" : "0"
                            }
                        }
                    ]
                }
            ]
        }
    ]
}